p {
  margin: 0;
}
nz-card {
    padding: 15px;
    box-shadow: 2px 2px 10px #909090;
    // padding-left: 40px;
}
.r-card {
    padding-left: 40px;
}
.user {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    clear: both;
    display: block;
    margin: auto;
}
.super-admin {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #000000;
}
span {
    width: 100%;
    
}
.link-top {
    border-bottom:1px solid #c7d4df;
    padding-bottom: 10px;
    margin-bottom:10px;
    width: 100%;
}
span {
    color: #000000;
}
.info-style {
    // width: -70%;
    margin-top: -720px;
}

