<!--
 * @Description: 
 * @Version: 0.0.1
 * @Autor: hao wang
 * @Date: 2020-07-11 15:20:19
 * @LastEditors: hao wang
 * @LastEditTime: 2020-07-14 18:30:04
--> 
<nz-descriptions nzTitle="个人信息一览" nzBordered>
    <nz-descriptions-item nzTitle="用户名">admin</nz-descriptions-item>
    <nz-descriptions-item nzTitle="用户地址">中国山东</nz-descriptions-item>
    <nz-descriptions-item nzTitle="手机号">13573125133</nz-descriptions-item>
    <nz-descriptions-item nzTitle="注册日期">
        2014-10-01 18:00:00
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="有效期" [nzSpan]="2">
        2014-10-01 18:00:00 To 2020-02-02 21:00:00
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="状态" [nzSpan]="3">
        <nz-badge nzStatus="processing" nzText="在线"></nz-badge>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="支付金额">$80.00</nz-descriptions-item>
    <nz-descriptions-item nzTitle="剩余金额">$20.00</nz-descriptions-item>
    <nz-descriptions-item nzTitle="用户评价">
        该用户暂时未有评价
    </nz-descriptions-item>
    
</nz-descriptions>
<div class="btn-style">
    <button nz-button nzType="primary" nzGhost="true" (click)="editInfo()">编辑</button>
</div>


