<!--
 * @Description: 
 * @Version: 0.0.1
 * @Autor: hao wang
 * @Date: 2020-07-11 15:20:19
 * @LastEditors: hao wang
 * @LastEditTime: 2020-07-13 16:31:45
--> 
<nz-descriptions nzTitle="个人信息一览" nzBordered>
    <nz-descriptions-item nzTitle="用户名">admin</nz-descriptions-item>
    <nz-descriptions-item nzTitle="用户地址">中国山东</nz-descriptions-item>
    <nz-descriptions-item nzTitle="手机号">13573125133</nz-descriptions-item>
    <nz-descriptions-item nzTitle="注册日期">
        2018-04-24 18:00:00
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="有效期" [nzSpan]="2">
        2018-04-24 18:00:00 To 2019-04-24 18:00:00
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="状态" [nzSpan]="3">
        <nz-badge nzStatus="processing" nzText="在线"></nz-badge>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="支付金额">$80.00</nz-descriptions-item>
    <nz-descriptions-item nzTitle="剩余金额">$20.00</nz-descriptions-item>
    <nz-descriptions-item nzTitle="用户评价">
        善良
        <br />
        宅男
        <br />
        极客
        <br />
        渣男
        <br />
        自律
        <br />
        实在是不好编写<br />
    </nz-descriptions-item>
    
</nz-descriptions>
<div class="btn-style">
    <button nz-button nzType="primary" nzGhost="true">编辑</button>
</div>


