<!--
 * @Description: 
 * @Version: 0.0.1
 * @Autor: hao wang
 * @Date: 2020-07-11 15:20:19
 * @LastEditors: hao wang
 * @LastEditTime: 2020-07-13 16:31:45
-->

<div class="tab-style">
    <div class="btn-style">
        <button nz-button (click)="addRow()" nzType="primary">Add</button>
    </div>
<nz-table #rowSelectionTable nzShowSizeChanger [nzData]="listOfData"
  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">

  <thead>
    <tr>
      <th [(nzChecked)]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th>
      <th>Name</th>
      <th>Age</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data">
      <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
      <td>{{ data.name }}</td>
      <td>{{ data.age }}</td>
      <td>{{ data.address }}</td>
    </tr>
  </tbody>
</nz-table>
</div>
