<!--
 * @Description: 
 * @Version: 0.0.1
 * @Autor: hao wang
 * @Date: 2020-07-07 20:15:20
 * @LastEditors: hao wang
 * @LastEditTime: 2020-07-14 11:21:09
-->

<nz-layout class="app-layout">
  <!-- 侧边导航栏 -->
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
      <h1>项目管理系统</h1>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">

      <!-- 首页栏 -->
      <li nz-menu-item nz-tooltip nzTooltipPlacement="right" nzSelected>
        <a routerLink="/login">
        <i nz-icon nzType="home"></i>
        <span>首页</span>
      </a>
      </li>

      <!-- 用户栏 -->
      <li nz-submenu nzTitle="用户" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/user">用户信息</a>
          </li>
        </ul>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/userList">用户列表详情</a>
          </li>
        </ul>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/userRate">用户评价</a>
          </li>
        </ul>
      </li>

      <!-- 文件栏 -->
      <li nz-submenu nzTitle="文件" nzIcon="file">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">文件一览</a>
          </li>
        </ul>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">文件设置</a>
          </li>
        </ul>
      </li>

      <!-- 项目组 -->
      <li nz-submenu nzTitle="项目组" nzIcon="team">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">项目一览</a>
          </li>
        </ul>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">成员一览</a>
          </li>
        </ul>
      </li>

      <!-- 任务安排时间进度 -->
      <li nz-submenu nzTitle="安排计划" nzIcon="calendar">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">待办事项</a>
          </li>
        </ul>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">已完成</a>
          </li>
        </ul>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">未完成</a>
          </li>
        </ul>
      </li>

      <!-- 表单 -->
      <li nz-submenu nzTitle="表单" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">表单详细</a>
          </li>
        </ul>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">表单设置</a>
          </li>
        </ul>
      </li>

      <!-- 编辑 -->
      <li nz-submenu nzTitle="编辑" nzIcon="edit">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">编辑信息</a>
          </li>
        </ul>
      </li>

      <!-- 数据 -->
      <li nz-menu-item>
        <i nz-icon nzType="bar-chart"></i>
        <span>数据信息</span>
      </li>

      <!-- 数据库 -->
      <li nz-submenu nzTitle="数据库" nzIcon="database">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">数据库日志</a>
          </li>
        </ul>
      </li>

      <!-- 消息 -->
      <li nz-submenu nzTitle="消息" nzIcon="message">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">消息列表</a>
          </li>
        </ul>
      </li>

      <!-- PDF -->
      <li nz-menu-item>
        <i nz-icon nzType="file-pdf"></i>
        <span>PDF</span>
      </li>

      <!-- EXCEL -->
      <li nz-menu-item>
        <i nz-icon nzType="file-excel"></i>
        <span>Excel</span>
      </li>

      <!-- 错误界面 -->
      <li nz-menu-item>
        <i nz-icon nzType="bug"></i>
        <span>Error</span>
      </li>

      <!-- 关联 -->
      <li nz-menu-item>
        <i nz-icon nzType="link"></i>
        <span>关联</span>
      </li>

      <!-- Email -->
      <li nz-menu-item>
        <i nz-icon nzType="mail"></i>
        <span>邮件</span>
      </li>

      <!-- 国际化 -->
      <li nz-menu-item>
        <i nz-icon nzType="global"></i>
        <span>国际化</span>
      </li>



      <!-- setting -->
      <li nz-menu-item>
        <i nz-icon nzType="setting"></i>
        <span>设置</span>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <!-- 顶部区域 -->
    <nz-header>
      <div class="app-header">
        <ul nz-menu nzMode="horizontal">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
          </span>
          <li nz-menu-item nzSelected>首页</li>
          <li nz-menu-item>用户</li>
          <li nz-menu-item>文档</li>

          <!-- 查询框 -->
          <nz-input-group style="width: 70px;" [nzSuffix]="suffixIconSearch">
            <input style="width: 30px;" type="text" nz-input placeholder="input search text" />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <i nz-icon nzType="search"></i>
          </ng-template>

          <!-- 用户头像 -->
          <a nz-dropdown [nzDropdownMenu]="menu" class="img-right">
            <img class="user" src="../assets/imgs//login.jpg">
            <i nz-icon nzType="down"></i>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item><i nz-icon [nzType]="'user'"></i>个人中心</li>
              <li nz-menu-item><i nz-icon [nzType]="'setting'"></i>设置</li>
              <li nz-menu-item> <i nz-icon [nzType]="'poweroff'"></i>退出</li>
            </ul>
          </nz-dropdown-menu>
        </ul>
        <!-- <div class="r-content"> -->
          
        <!-- </div> -->

      </div>
    </nz-header>

    <!-- 面包屑区域 -->
    <div class="breadcrumb">
      <nz-breadcrumb>
        <nz-breadcrumb-item>首页</nz-breadcrumb-item>
        <nz-breadcrumb-item>用户</nz-breadcrumb-item>
        <nz-breadcrumb-item>数据</nz-breadcrumb-item>
      </nz-breadcrumb>
    </div>

    <!-- 内容区 -->
    <nz-content>
      <div class="inner-content">

        <a routerLink="'/login'" routerLinkActive="active"></a>
        <a routerLink="'/user'" routerLinkActive="active"></a>
        <a routerLink="'/userList'" routerLinkActive="active"></a>
        <a routerLink="'/userRate'" routerLinkActive="active"></a>
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>


