<div class="login">
    <!-- 背景图 -->
    <img src="../assets/imgs/login.png" style="width: 100% ; height: 100%;">   
    <!-- form表单 -->
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <h1 class="h1-style">后台管理系统</h1>
        
        <!-- 用户名 -->
        <nz-form-item>
          <nz-form-control nzErrorTip="请输入用户名">
            <nz-input-group>
              <input type="text" nz-input formControlName="userName" placeholder="Username" class="user"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        
        <!-- 密码 -->
        <nz-form-item>
          <nz-form-control nzErrorTip="请输入密码">
            <nz-input-group >
              <input type="password" nz-input formControlName="password" placeholder="Password" class="password"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <!-- 自动勾选登录状态 -->
        <div nz-row class="login-form-margin">
          <div nz-col [nzSpan]="12">
            <label nz-checkbox formControlName="remember">
              <span>Remember me</span>
            </label>
          </div>

          <!-- 忘记密码 -->
          <div nz-col [nzSpan]="12">
            <a class="login-form-forgot">Forgot password</a>
          </div>
        </div>

        <!-- 注册/登录 -->
        <!-- 下一步。从登录按钮点击路由跳转到首页 -->
        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" (click)="loginClick()">登录</button>
        Or <a> register now! </a>
      </form>
</div>